@use "../../styles//variables.scss";
@use "../../styles//mixins.scss";
.button {
  min-width: 20%;
  padding: 1.5rem;
  margin: 1.4rem 0rem 0rem 1rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: variables.$default;
    color: #fff;
  }
  @include mixins.breakpoint-down(large) {
    width: 30%;
  }
  @include mixins.breakpoint-down(medium) {
    width: 100%;
    margin: 1rem 0rem 0rem;
  }
}
