@use "variables";
@use "mixins";

//* ======================== Reseting default styles ========================

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: monospace, sans-serif;
  font-size: variables.$font-sm;
  color: variables.$default;
  background-color: variables.$primary-color;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center
  );
  min-width: 100vw;
  min-height: 100vh;
  .container {
    width: 60vw;
    height: 50rem;
    @include mixins.flexbox(
      $display: flex,
      $alignItems: center,
      $direction: column
    );
    background: rgb(105, 182, 255);
    background: linear-gradient(
      90deg,
      rgba(105, 182, 255, 1) 0%,
      rgba(156, 225, 254, 1) 100%
    );
    margin: 0rem 1rem;
    border-radius: 7px;
    box-shadow: -1px 1px 17px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: -1px 1px 17px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 17px 1px rgba(0, 0, 0, 0.15);
    padding: 2.5rem 2rem;
  }
  .title {
    font-size: 3rem;
    font-weight: 700;
  }

  .subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
  }

  .wrapper {
    width: 60%;
    margin: 4rem 0rem;
    @include mixins.flexbox(
      $display: flex,
      $justifyContent: center,
      $alignItems: center
    );
  }

  .results {
    @include mixins.flexbox(
      $display: flex,
      $direction: column,
      $justifyContent: center,
      $alignItems: center
    );
    p {
      font-size: 2rem;
      font-weight: 600;
    }
    ul {
      margin: 1rem;
      li {
        font-weight: 700;
        padding: 0.5rem;
      }
    }
  }

  .message {
    margin: 0.5rem;
    color: variables.$default;
    background-color: aqua;
    padding: 0.5rem 1rem;
    border-radius: 12px;
  }
}
